.main {
    display: grid;
}

.main__section {
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.main__headerContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding: 20px;
}

@media(max-width: 576px) {
    .main__headerContainer--second {
        grid-template-columns: 1fr;
    }
}

.main__header {
    margin: 0;
    font-size: 22px;
}

.main__headerButtons {
    justify-self: end;
}

@media(max-width: 576px) {
    .main__headerButtons {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
}

.main__headerButton {
    padding: 10px;
    border: none;
    color: teal;
    background-color: white;
    transition: 1s;
}

.main__headerButton:hover {
    cursor: pointer;
    color: hsl(180, 100%, 30%);
}

.main__headerButton:disabled {
    cursor: default;
    color: #999;
}