.main {
    display: grid;
}

.main__header {
    font-size: 22px;
    border-bottom: 2px solid #eee;
    margin: 0;
    padding: 20px;
}

.main__section {
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
    background-color: white;
}