.section {
    background-color: white;
    margin: 5px;
}

.section__headerContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto auto;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

@media (max-width:767px) {
    .section__headerContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .section__additionalHeaderContent {
        display: grid;
        gap: 10px;
        padding: 0px 20px 20px 20px;
    }
}

.section__button {
    background: white;
    color: teal;
    margin: 0 10px;
    padding: 10px;
    border: none;
    transition: 1s;
}

.section__button:disabled {
    color: gray;
}

.section__button:hover {
    opacity: 80%;
    cursor: pointer;
}

.section__header {
    margin: 0;
    padding: 20px;
}

.section__content {
    padding: 10px 20px;
}