.tasksList {
    margin: 0;
    padding: 28px;
    list-style: none;
}

.tasksList__item {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #eee;
    word-break: break-word;
}

.tasksList__item--hidden {
    display: none;
}

.tasksList__taskContent {
    margin: 0;
    padding: 0;
}

.tasksList__item--done {
    text-decoration: line-through;
}

.tasksList__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: green;
    color: white;
    height: 30px;
    transition: 1s;
}

.tasksList__button:hover {
    opacity: 70%;
    cursor: pointer;
}

.tasksList__button--remove {
    background-color: red;
}