.tasksList {
    margin: 0;
    padding: 16px;
    list-style: none;
}

.tasksList__item {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #eee;
}

.tasksList__taskContent {
    margin: 0;
    padding: 0;
}

.tasksList__item--done {
    text-decoration: line-through;
}

.tasksList__button {
    border: none;
    background-color: green;
    color: white;
    height: 30px;
}

.tasksList__button:hover{
    opacity: 70%;
    cursor: pointer;
}

.tasksList__button--remove {
    background-color: red;
}