.tile {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
}

.tile__header {
    margin: 0;
}

.tile__headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
    border-bottom: 2px #eee solid;
}

.tile__button {
    background-color: white;
    border: none;
    color: teal;
    transition: 1s;
}

.tile__button:hover {
    cursor: pointer;
    color: hsl(180, 100%, 30%);
}

.tile__button:disabled {
    color: #999;
}