.tile {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
}

.tile__header {
    padding: 20px;
    margin: 0;
    border-bottom: 2px #eee solid;
}

.tile__form {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 150px;
    gap: 20px;
}

.tile__input {
    padding: 10px;
    border: 2px #eee solid;
}

.tile__input::placeholder {
    color: #aaa;
}

.tile__button {
    background-color: teal;
    color: white;
    padding: 5px;
    border: none;
    letter-spacing: 1px;
}

.tile__button:hover{
    background-color: hsl(180, 100%, 30%);
    cursor: pointer;
}